/* General styles */
body {
  font-family: Arial, sans-serif;
  background: url('/coffee.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  position: relative;
}
body::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color:#e7bc912b;
}


.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#containerstart h3 {
  font-size: 16px;
  font-weight: bold;
  font-family: cursive;
}

button {
  transition: .2s;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  background-color: #4a473e;
  color: #ffedd8;
  cursor: pointer;
  border-radius: 23px;
  font-size: 19px;

}

button:hover {
  background-color: #b76935;
  transform: scale(1.1);
  color: white;
}

/* Container for the quiz */
#containerstart {
  background-color: rgb(255 255 255 / 62%);
  border-radius: 135px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 7.1);
  padding: 20px;
  max-width: 450px;
  z-index: 1;

}
#containerstart h2{
  padding-bottom: 2px;
  color: #5c4d3c;
  font-size: 32px;
  font-family: cursive;
  border-bottom: 2px solid;
  width: fit-content;
  margin: auto;
  border-color: #6f523b;

}
#containerstart h3{
  color: #6f523b;
    font-size: 20px;
    font-family: cursive;

}

/* List of answers */
ul#answers-list {
  list-style-type: none;
  padding: 0;
}

ul#answers-list li {
  padding: 19px;
  /* margin: 5px 0; */
  background-color: #e9e9e9;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 17px;
  color: #603808;
  font-weight: 700;

}

ul#answers-list li:hover {
  background-color: #d0d0d0;
}

/* Results page */
#endingpag .container {
  padding: 20px;
  text-align: center;
}

#endingpag .buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* Hide quiz sections initially */
#quiz,
#endingpag,
#guid {
  display: none;
  z-index: 1;
}

#guid {
  background-color: rgb(52 68 82 / 62%);
  border-radius: 60px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 7.1);
  padding: 20px;
  max-width: 500px;
  width: 90%;
}
#guid h3 {
  border-bottom: 8px solid;

  text-transform: capitalize;
  font-family: fangsong;
  font-size: 34px;
  color: #bc6c25;
 
  border-radius: 44px;
  width: fit-content;
  margin: 20px auto;
  padding: 17px;

}
#guid ul {
  list-style: auto;
  display: flex;
  flex-direction: column;
  text-align: start;
  font-size: 17px;
  font-weight: bold;
  color: #99582a;
}
#guid ul li{
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;


}
.button button {
  background-color: #bc6c25;
}
#guid img{
  border-radius: 21px;
  width: 278px;
  height: 300px;

}
#quiz {
  width: 429px;
    height: 536px;
    background: #b08968;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    padding: 20px;
}
#quiz h1{
  color: #352208;
  font-size: 25px;
  font-family: cursive;
  font-weight: 700;

}
#quiz img{
  width: 100px;
  border-radius: 37px;
  height: 120px;
  position: absolute;
  top: 0;
  /* left: 60%; */
  right: 0;

}
