body {
  font-family: Arial, sans-serif;
  background: url('coffee.jpg') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quiz-container {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  width: 90%;
}

header h1 {
  color: #333;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

#content {
  margin-top: 20px;
}

p {
  color: #666;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
}

.question-container {
  margin-top: 20px;
}

.question {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.answer-buttons {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping of answer buttons */
  justify-content: center; /* Center the answer buttons horizontally */
}

.answer-buttons button {
  background-color: #808080; /* Gray background color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px; /* Add margin between answer buttons */
  cursor: pointer;
  transition: background-color 0.3s;
  flex: 1; /* Each button takes equal space */
  max-width: calc(50% - 10px); /* Maximum width of each button (50% of container width with margin) */
  box-sizing: border-box; /* Include padding and border in the width calculation */
}

.answer-buttons button:hover {
  background-color: #666666; /* Darker gray on hover */
}


.next-button,
.continue-button,
.restart-button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.next-button:hover,
.continue-button:hover,
.restart-button:hover {
  background-color: #218838;
}

.hidden {
  display: none;
}

.score-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.score {
  font-size: 18px;
  margin-right: 20px;
}

.correct {
  background-color: #28a745;
}

.wrong {
  background-color: #dc3545;
}
